@import "../../assets/scss/variables";


// .sidebar {
//   position: fixed;
//   top: $height-header;
//   height: 100%;
//   width: 260px;
 
// }

:root {
  --header-height: 3rem;
  --nav-width: 24px;
  --first-color: hsla(202,10%,15.7%,0.9);
  --first-color-alt: #fff;
  --white-color: #ffddee;
}

.sidebar nav {
  position: fixed;
  top: $height-header;
  position: fixed;
  width: 250px;
  height: 100%;
  background: #f1f1f1;

  border-right: 1px solid rgba(0, 0, 0 , 0.1);
  z-index: 1000;
}
.sidebar nav.hide{
  width: 0;
}
.sidebar nav ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
}
.sidebar nav ul li a{
  width: 100%;
  color: #1e90ff;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
}
.sidebar nav ul li a i {
  margin: 0 20px;
  color: #1e90ff;
  font-size: 1.2rem;
  transition: linear 0.2s;
}
.sidebar nav ul li a:hover{
  background: #1e90ff;
  color: white;
}
.sidebar nav ul li a:hover i {
  color: white;
}
.content{
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: ease-in-out 0.5s;
}
.content.expand{
  width: 100%;
  left: 0;
}
.content h2{
  font-size: 4.5em;
  color: #1e90ff;
  text-transform: uppercase;
}
.sidebar nav .header-toggle{
  position: absolute;
  top: 20px;
  right: -46px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: linear 0.2s;
}

.sidebar nav .header-toggle i {
  color: #1e90ff;
  font-size: 1.5em;
  transition: linear 0.2s;
}
.sidebar nav .header-toggle:hover{
  background: #1e90ff;
  padding: 2pc 2pc;
  background: red;
}
.sidebar nav .header-toggle:hover i {
  color: white;
}
// .header-toggle i:hover{
//   padding:0  5px;
//     background: rebeccapurple;
// }




a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.5s;
}


.header-toggle {
  font-size: 1.25rem;
    cursor: pointer;
    color: #fff;
    margin-left: 2px;
    float: right;
    margin-right: 5px;
}

.sidebaras {
  // position:fixed;
  top: 0;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding-top: 1rem;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.nav-logo,
.nav-link {
  display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 6px;
    padding: 1pc 95px 0pc 11px;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.nav-link {
  position: relative;
  margin-right: -6pc;
  color: var(--first-color-alt);
  transition: 0.5s;
  margin-bottom: 16.5px;
}

.nav-link:hover {
  color:#fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  padding-top: -50px;

}

// .hover .hovera:hover{
//   width: 2pc;
//     height: 25px;
//     text-align: center;
//     background-color: rgba(0, 0, 0, 0.2);
//     transform: 0.5s;
// }
.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (min-width: 768px) {


  .sidebaras {
    left: 0;
    padding: 1rem 0 0 0;
    // margin-top: 135px;
  }

  .show {
    width: calc(var(--header-height) + 200px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}



.icon a{
  padding: 3px 10px;
  background: linear-gradient(var(--ds-background-accent-purple-bolder, #403294), var(--ds-background-accent-blue-bolder, #0747a6));
  color: #fff;
  font-size: 29px;
  border-radius: 5px;
  font-weight: bold;
}
.fre {
  color: #fff;
  text-align: center;
  padding: 3pc;
}
