* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.google-btn {
  height: 40px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px !important;
}
.google-btn:hover {
  background-color: #888;
}
.google-btn > div {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.drag-file-area .upload-icon {
  font-size: 50px;
}
.drag-file-area label {
  font-size: 19px;
}
.drag-file-area label .browse-files-text {
  color: #7b2cbf;
  font-weight: bolder;
  cursor: pointer;
}
.browse-files span {
  position: relative;
  /* top: -25px; */
}
.default-file-input {
  display: none;
}

.container {
  padding: 0 30px;
}
.MuiGrid-item {
  padding-left: 0 !important;
}
.simplebar-placeholder {
  display: none;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.container-fix {
  width: 80%;
  margin-left: auto;
  padding-bottom: 50px;
  margin-top: 150px;
}
.pagination {
  margin-top: 20px;
}

.members-avatar-group {
  display: inline-flex;
}

.avatar-member-nav,
.MuiAvatarGroup-avatar {
  width: 30px;
  height: 30px;
}
.btn-show {
  margin-left: 10px;
}

.navbar-add-btn {
  width: max-content !important;
}
.board-item {
  display: flex;
}

.board-item-btn {
  align-items: inherit !important;
  margin-left: auto;
  padding: 0;
}
