// DECLARE COLOR GLOBAL VARIABLE
$white: #ffffff;
$yellow: #ffcf4d;
$silver: #e8eef9;
$silver-background: #f5f6f9;

$blue-bg-color: #20c8fb;
$btn-color-primary: #0079bf;

// DECLARE SIZE GLOBAL VARIABLE
$xs: 0; //  <576px
$smallPhone: 320px;
$phone: 480px; //  ≥480px
$sm: 576px; //  ≥576px
$md: 768px; //  ≥768px
$lg: 992px; //  ≥992px
$xl: 1200px; //  ≥1200px
$xxl: 1400px; //  ≥1400px

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

$gap: 10px;
$height-header: 44px;
$height-board-header: 48px;
$board-content-height: 89vh;

$column-border-radius: 4px;

$common-element-bg: rgba(255, 255, 255, 0.24);
$board-bg-color: #0079bf;
$column-bg-color: #ebecf8;
